.menu-card {
  box-shadow: 0 4px 8px rgba(8, 8, 8, 0.947);
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
  cursor: pointer; /* Add a pointer cursor */
}

.menu-card:hover {
  transform: scale(1.05);
}

.menu-image {
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.menu-item-title {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: #dd9d12cf;
}

/* Add the animation class */
.clicked .menu-image {
  animation: moveUp 0.5s ease-in-out forwards;
}

/* Define the animation */
@keyframes moveUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px); /* Move the image 20px up */
  }
}
