.menu-container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  background-color: #1c111100;
}

.menu-title {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #efb814;
}

.menu-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
}

.menu-card:hover {
  transform: scale(1.05);
}

.menu-image {
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.menu-item-title {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: #555;
}
